# Dependências
node_modules/
.pnp
.pnp.js

# Variáveis de ambiente
.env
.env.local
.env.development
.env.production

# Prisma
shared/prisma/migrations/*.sql

# Build
dist/
build/
.next/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cache
.npm
.eslintcache
.parcel-cache
.turbo